{@layout path="front" /}

{<content}

<div>

    <a id="videoBg" data-property="{videoURL:'T1A2GrvFJ1w',containment:'self',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1,printUrl:true,showYTLogo:false,showControls:false}">
        <div class="maskParent">
            <div class="paralaxMask"></div>
            <div class="paralaxText">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>
                                <img alt="Cloud CMS" src="/images/logo/cloudcms-white.png">
                                <p class="site-title">
                                    InSilico Cloud CMS Test!
                                </p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <section class="pt40 color2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mb30 text-center"  data-nekoanim="fadeInUp">
                    <h1>Here are some more changes!</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- portfolio -->
    <section id="homePortfolio" class="imgHover clearfix portfolioMosaic mosaic5 mosaicMoreLink neko-hover-1 color2" style="padding-left: 30px; padding-right: 30px;">
        <article>
            <figure class="minimalBox">
                <a href="/catalog/index.html">
                    <img alt="" src="/images/front/catalog.jpg" class="img-responsive">
                </a>
                <figcaption>
                    <div class="pinInfo">
                        <h3>
                            <a href="/catalog/index.html">Product Catalog</a>
                        </h3>
                        <p class="hidden-xs">Browse products in our catalog</p>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article>
            <figure class="minimalBox">
                <a href="/guide/index.html">
                    <img alt="" src="/images/front/guide.jpg" class="img-responsive">
                </a>
                <figcaption>
                    <div class="pinInfo">
                        <h3>
                            <a href="/guide/index.html">City Guide</a>
                        </h3>
                        <p class="hidden-xs">Learn about Cities around the World</p>
                    </div>
                </figcaption>
            </figure>
        </article>
    </section>
    <section class="pt40 color2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="carouselHome pt40 pb40 color1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb30 text-center">
                    <h1><b>What's Inside?</b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel nekoDataOwl" data-neko_items="4" data-neko_singleitem="true" data-neko_paginationnumbers="true" data-neko_transitionstyle="backSlide">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <img src="/theme/images/theme-pics/home-carousel-1.png" alt="HIDEO premium website template" class="img-responsive"/>
                                </div>
                                <div class="col-md-6 pt40">
                                    <h1>Create and Publish Content</h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/theme/images/theme-pics/home-carousel-3.png" alt="HIDEO premium website template" class="img-responsive"/>
                                </div>
                                <div class="col-md-6 col-md-offset-1 pt40">
                                    <h1>Use Interactive Forms</h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1 pt40">
                                    <h1>Edit Multilingual Content</h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <img src="/theme/images/theme-pics/home-carousel-2.png" alt="HIDEO premium website template" class="img-responsive"/>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/theme/images/theme-pics/home-carousel-3.png" alt="HIDEO premium website template" class="img-responsive"/>
                                </div>
                                <div class="col-md-6 col-md-offset-1 pt40">
                                    <h1>Assign Workflow Tasks</h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

</div>

{/content}
